@import url(patternBG.css);
@import url("https://fonts.googleapis.com/css2?family=Varela+Round&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap");

html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

body {
  --breddit: #9c805b;
  --weather: #ef6c00;
  --todo: #1f2933;
  --tea: #131313;
  --fontColor: #d9dee6;
  --bg: #2a323f;
  --bg2: #3a4453;
  --bg3: #282f3b;
  --currentColor: var(--bg);
  transition: 0.3s;
  position: relative;
  overflow: auto;
  background-color: var(--bg);
  background-attachment: fixed;
}

.hidden {
  visibility: hidden;
  opacity: 0;
  transition: 0.3s;
}

.desktop {
  display: none;
}

#scrollToTop {
  display: flex;
  justify-content: center;
  text-decoration: none;
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 40px;
  transition: 0.3s;
}

header {
  background: transparent;
  font-family: "Roboto Slab", serif;
  padding: 10px;
  color: var(--fontColor);
  display: grid;
  grid-template-columns: auto auto;
}

#fullname {
  font-weight: 500;
}

#title {
  font-weight: 400;
}

#navLinks ul {
  display: flex;
  flex-direction: column;
  justify-content: end;
  list-style: none;
  padding: 0;
  margin: 0;
  text-align: right;
}
#navLinks ul li {
  margin-bottom: 10px;
}
#navLinks ul li > * {
  display: inline-block;
  background: var(--bg2);
  padding: 5px 10px;
  color: var(--fontColor);
  text-decoration: none;
  border: none;
  border-radius: 5px;
  font-family: "Roboto Mono", monospace;
}

#technologies {
  font-family: "Roboto Mono", monospace;
  margin-top: 20px;
  text-align: center;
  opacity: 0.7;
  grid-column-start: 1;
  grid-column-end: 3;
}

#technologies .mobile {

}

#technologies .mobile div {
  line-height: 30px;
}

#projectsNav {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  overflow-x: auto;
  font-family: "Varela Round", sans-serif;
  background: transparent;
  transition: 0.5s;
}

#projectsNav ul {
  padding: 10px 0;
  width: max-content;
  margin: 5px auto;
  list-style: none;
}

#projectsNav ul li {
  padding: 0;
  margin-left: 20px;
  display: inline-block;
}

#projectsNav ul li:last-child {
  border-right: 20px solid transparent;
}

#projectsNav ul li a {
  display: inline-block;
  width: 100%;
  white-space: nowrap;
  padding: 10px 15px;
  height: 40px;
  border: none;
  border-radius: 5px;
  box-shadow: inset 0 0 0 transparent, 0 0 5px rgba(0, 0, 0, 0.534);
  background-color: var(--bg);
  color: var(--fontColor);
  text-decoration: none;
  transition: 0.3s;
}

#projectsNav ul li a.selected {
  background-color: var(--bg3);
  box-shadow: inset 0 0 5px #00000077, 0 0 0 transparent;
}

.projectSection {
  padding: 80px 10px;
  text-align: center;
}

#project-reddit {
}

#project-weather {
}

#project-todolist {
}

#project-teatime {
}
.projectPreview {
  width: 100%;
  max-width: 400px;
  border-radius: 15px;
  margin: 0 auto;
  box-shadow: 0px 0px 10px #00000028;
}

footer {
  background-color: var(--tea);
}

@media (max-width: 319px) {
  #technologies {
    display: none;
  }
}

@media (min-width: 650px) {
  header {
    display: grid;
    grid-template-columns: auto auto;
  }
  #technologies {
    grid-column-start: 1;
    grid-column-end: 3;
    margin: 40px 0 20px 0;
  }

  #navLinks ul {
    flex-direction: row;
  }
  #navLinks ul li {
    padding: 0px 10px;
    border: none;
  }
  #navLinks ul li > * {
    background-color: transparent;
    cursor: pointer;
  }
  #navLinks ul li > *:hover {
    text-decoration: underline;
  }
  .mobile {
    display: none !important;
  }
  .desktop {
    display: block;
  }
}

@media (min-width: 768px) {
  .projectSection {
    padding: 80px 10px;
    height: 100vh;
    text-align: left;
  }
  .projectPreview {
    height: 100%;
    width: auto;
    max-width: none;
  }
}
