@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap");

html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

body {
  --breddit: #9c805b;
  --weather: #ff9800;
  --todo: #1f2933;
  --tea: #131313;
  --fontColor: #ececec;
}

header {
  background: linear-gradient(white -200%, var(--breddit));
  font-family: "Roboto Slab", serif;
  padding: 10px;
  color: var(--fontColor);
  display: flex;
  flex-direction: column;
}

#nameTitle {
}

#fullname {
  font-weight: 500;
}

#title {
  font-weight: 400;
}

#navLinks {
}
#navLinks ul {
  list-style: none;
  padding: 0;
  margin: 0;
  text-align: center;
  margin-top: 20px;
}
#navLinks ul li {
  margin-bottom: 10px;
  display: inline-block;
}
#navLinks ul li > * {
  background: transparent;
  color: var(--fontColor);
  text-decoration: none;
  border: none;
  font-family: 'Roboto Mono', monospace;
}


#technologies {
  font-family: 'Roboto Mono', monospace;
  margin-top: 20px;
}

#projectsNav {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  overflow-x: auto;
  font-family: 'Varela Round', sans-serif;
  background: var(--breddit);
}

#projectsNav ul {
  padding: 10px 0;
  width: max-content;
  margin: 5px auto;
  list-style: none;
}

#projectsNav ul li {
  padding: 0;
  margin-left: 20px;
  display: inline-block;
}

#projectsNav ul li:last-child {
  border-right: 20px solid transparent;
}

#projectsNav ul li a {
  display: inline-block;
  width: 100%;
  white-space: nowrap;
  padding: 10px 15px;
  height: 40px;
  border: none;
  border-radius: 25px;
  box-shadow: 0 0 5px #00000040;
  background-color: var(--breddit);
  color: var(--fontColor);
  text-decoration: none;
}

#projectsNav ul li a.selected {
  box-shadow: inset 0 0 5px #0000003d;
}

.projectSection {
  padding: 80px 10px;
}

#project-reddit {
  background-color: var(--breddit);
}

#project-weather {
  background-color: var(--weather);
}

#project-todolist {
  background-color: var(--todo);
}

#project-teatime {
  background-color: var(--tea);
}
.projectPreview {
  width: 100%;
  max-width: 400px;
  border-radius: 15px;
  margin: 0 auto;
  box-shadow: 0px 0px 10px #00000028;
}

footer {
  background-color: var(--tea);
}
